// paths
$img_path: "../img/";

// env
$clouds: url($img_path + "bg_clouds.png");
$void: url($img_path + "bg_void.png");

// main blocks
$chest_closed: url($img_path + "minecraft_chest.png");
$grass: url($img_path + "bg_grass.jpg");
$grass_top: url($img_path + "bg_grass_top.jpg");
$dirt: url($img_path + "bg_dirt.jpg");
$stone: url($img_path + "bg_stone.jpg");
$cobblestone: url($img_path + "bg_cobblestone.png");
$sand: url($img_path + "bg_sand.jpg");
$planks: url($img_path + "bg_planks.png");
$wool: url($img_path + "bg_wool.png");
$bedrock: url($img_path + "bg_bedrock.png");
$lava: url($img_path + "lava.gif");

// mixs
$mix_dirt_stone_1: url($img_path + "bg_mix_dirt_stone_1.jpg");
$mix_dirt_stone_2: url($img_path + "bg_mix_dirt_stone_2.jpg");
$mix_bedrock_transparent: url($img_path + "bg_mix_bedrock_transparent.png");
$mix_stone: url($img_path + "bg_mix_stone.png");
$mix_stone_big: url($img_path + "bg_mix_stone_big.png");

// ores
$ore_coal_3: url($img_path + "bg_coal_ore_3.png");
$ore_coal_4: url($img_path + "bg_coal_ore_4.jpg");
$ore_iron_3: url($img_path + "bg_iron_ore_3.png");
$ore_iron_4: url($img_path + "bg_iron_ore_4.png");
$ore_diamond: url($img_path + "bg_diamond.gif");

// non-images
$card_filter_color: rgba(#ffffff, 0.45);

// misc
$profile_pic: url($img_path + "profile_pic.jpg");
$profile_pic_anime: url($img_path + "profile_pic_anime.jpg");
$pickaxe: url($img_path + "pickaxe.png");


@font-face {
  font-family: 'Minecraft Regular';
  src: url("../fonts/minecraft_font.ttf");
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
