@import 'config';
@import 'components/header';
@import 'components/main';
@import 'components/card';

.root {
    justify-content: space-around;
}

.side {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;

    @media screen and (min-width: 850px) {
        width: calc(33.3% - 30px);
        flex-direction: column;
    }
}

.middle {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;

    @media screen and (min-width: 850px) {
        width: calc(66.6% - 30px);
    }
}

.profile {
    width: 100%;
    height: 300px;
    background: #342c3d;
    
    @media screen and (min-width: 400px) {
        width: calc(50% - 30px);
    }

    @media screen and (min-width: 850px) {
        width: 100%;
    }

    .card-pic {
        height: 300px;
        border-radius: 3px;
        background: $profile_pic no-repeat center / cover;
    }

    .card-pic:hover {
        background: #fff $profile_pic_anime no-repeat center / 70%;
    }
}

.profile:hover {
    
    .card-pic {
        background: #fff $profile_pic_anime no-repeat center / 70%;
    }

    .pic-text {
        color: black;
    }
}

.info {
    width: 100%;
    background: $sand repeat top left / 150px;

    @media screen and (min-width: 400px) and (max-width: 850px) {
        width: calc(50% - 30px);
        height: 300px;
    }

    @media screen and (min-width: 850px) {
        width: 100%;
    }

    
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style-type: none;
        padding-left: 0px;

        @media screen and (min-width: 400px) {
            .less-important {
                display: none;
            }
            .moderately-important {
                display: none;
            }
        }
        @media screen and (min-width: 500px) {
            .moderately-important {
                display: list-item;
            }
        }
        @media screen and (min-width: 750px) {
            .less-important {
                display: list-item;
            }
        }

        li {
            width: 50%;

            @media screen and (min-width: 400px) {
                width: 100%;
                margin-top: 35px;
            }

            @media screen and (min-width: 500px) {
                width: 50%;
            }
            @media screen and (min-width: 750px) {
                width: 33.3%;
            }
            @media screen and (min-width: 850px) {
                width: 50%;
            }
        

            .bait {
                display: block;
                height: 70px;
                width: 70px;
                margin: auto;
                padding-top: 25px;

                text-align: center;
                color: white;
                font-size: 1.3em;

                border-radius: 50%;
                background: #002597;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            }
        
            .text {
                display: block;
                margin: auto;
                margin-top: 5px;
                text-align: center;
            }
        }
    }
}

.review {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background: $wool repeat top left / 48px;
    color: white;

    @media screen and (min-width: 600px) {
        width: calc(50% - 30px);
    }

    h3 {
        width: 60%;
        margin-top: 10px;
        font-size: 1.17em;
    }

    .rating {
        width: 30%;
        margin-top: 8px;
        font-size: 1.17em;
        text-align: right;
    }

    p {
        line-height: 20px;
    }
}

.resume {
    width: 100%;
    padding-bottom: 15px;

    background: linear-gradient($card_filter_color, $card_filter_color),
        $cobblestone repeat top left / 128px;

    table {
        table-layout: fixed;
        width: 100%;
        margin-top: 15px;
        border-collapse: collapse;
        border-spacing: 0;


        tr {
            th {
                padding: 10px;
                text-align: left;
                border-bottom: 2px solid black;
            }

            td {
                padding: 10px;
                border-bottom: 2px solid black;
            }
        }

        .left {
            width: 35%;
        }

        .right {
            width: 55%;
            margin-left: -3px;
        }
    }
}


@import 'components/footer';
