@import 'config';
@import 'components/header';
@import 'components/main';
@import 'components/card';

.hobbies {
  width: 100%;

  @media screen and (min-width: 800px) {
    width: calc(55% - 30px);
  }

  @media screen and (min-width: 1000px) {
    width: calc(66.6% - 30px);
  }

  ul {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding-left: 0px;
    list-style-type: none;

    li {
      width: 50%;

      img {
        display: block;
        width: 100px;
        margin: auto;
        border-radius: 25px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.favorite-websites {
  width: 100%;

  @media screen and (min-width: 800px) {
    width: calc(45% - 30px);
  }

  @media screen and (min-width: 1000px) {
    width: calc(33.3% - 30px);
  }

  a {
    text-decoration: none;
  }
}

.news {
  width: 100%;

  @media screen and (min-width: 1000px) {
    width: calc(50% - 30px)  
  }
}

#diamond {
  position: relative;
  bottom: 192px;
  left: 154px;
  width: 48px;
  height: 48px;
  background: $ore_diamond no-repeat top left / 48px;
  cursor: $pickaxe, help;
}

@import 'components/footer';

