@import 'config';
@import 'components/header';
@import 'components/main';
@import 'components/card';

.hobbies {
  width: calc(66.6% - 30px);

  ul {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    list-style-type: none;

    li {
      width: 50%;

      img {
        display: block;
        width: 150px;
        margin: auto;
        border-radius: 25px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.favorite-websites {
  width: calc(33.3% - 30px);

  a {
    text-decoration: none;
  }
}

.news {
  li {
    
  }
}

@import 'components/footer';

