@import 'config';
@import 'components/header';
@import 'components/main';
@import 'components/card';

.hobbies {
  width: calc(66.6% - 30px);
}

.favorite-websites {
  width: calc(33.3% - 30px);

  a {
    text-decoration: none;
  }
}

.news {
  li {
    
  }
}

@import 'components/footer';

