header {
  width: 100%;
  height: 369px;

  marquee {
    display: block;
    width: 100%;
    height: 80px;
    font-size: 3.5em;
    color: #c3dcf0;
    background: #8FBFE9 $clouds no-repeat center -35px;
  }

  nav {
    width: 100%;
    height: 145px;
    background: #8FBFE9 $grass_top repeat-x bottom left / 48px;

    ul {
      display: flex;
      width: 100%;
      height: 100%;
      list-style-type: none;
      margin: 0;
      padding: 0 15% 0 15%;

      li {
        width: 25%;
        height: 100%;
        

        a {
          display: block;
          width: 50%;
          height: 100%;
          margin: auto;
          padding-top: 102px;
          text-align: center;
          font-size: 1.15em;
          font-family: 'Minecraft Regular';
          text-decoration: none;
          color: white;
          background: $chest_closed no-repeat center bottom/120px;
        }
      }
    }
  }  

  .decorative-ending {
    width: 100%;
    height: 144px;
    background: $grass repeat-x top left / 49px,
      $dirt repeat-x top 48px left / 49px,
      $mix_dirt_stone_1 repeat-x top 96px left / 573px;
  }


}